* {
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.4em;
  color: white;
}

body {
  background: #25283d;
}

h5 {
  text-align: center;
  margin-top: 5px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}

form {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  padding-top: 30px;
  width: 500px;
  margin: 50px auto;
}

input {
  width: 100%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.btn {
  width: 45%;
  padding: 20px;
  border-radius: 6px;
  border: 0;
  background: #edbd15;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn:hover{
  background: #edbd15;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.24), 0 0 20px 0 rgba(0,0,0,0.19);
}
