* {
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 1.4em;
  color: #25283d;
}

body {
  background: #25283d;
}

h5 {
  text-align: center;
  margin-top: 5px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}

form {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  padding-top: 30px;
  width: 300px;
  margin: 50px auto;
}

input {
  width: 100%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.btn {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 0;
  background: #edbd15;
  color: #fff;
}
